@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/App.css */
.App {
  text-align: center;
  background: linear-gradient(135deg, #f0f4f8, #d9e2ec);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
}

.App-header {
  background: transparent; /* Deixar transparente para mostrar o gradiente do corpo */
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 20px;
}

.header-content {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6); /* Fundo semitransparente para contraste */
  padding: 20px;
  border-radius: 10px;
}

.profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
}

.header-text {
  max-width: 600px;
  text-align: left;
}

.header-text h1 {
  margin-bottom: 10px;
}

.header-text p {
  font-size: 18px;
  line-height: 1.5;
}

.timeline-container {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  background: rgba(255, 255, 255, 0.9); /* Fundo branco com opacidade */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
